.bcm-page-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  .bcm-page-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    .event-select {
      min-width: 50%;
      label {
        width: 100%;
        font-size: 1.1rem;
        font-weight: 600;
        text-align: center;
      }
      select {
        width: 100%;
        background: #97c59d2b;
        option {
          text-align: center;
        }
      }
    }
    .employee-role {
      font-size: 1.3rem;
      font-weight: 600;
    }
  }
  .bcm-page-content {
    /* Start Employee Style */
    .employee-role {
      font-size: 1.3em;
      justify-content: center;
      font-weight: bold;
    }

    .event-details {
      background: #68e08478;
      border-radius: 4px;
      margin: 20px 0;
      text-rendering: optimizeLegibility;
      font-variant-ligatures: none;
      box-shadow: 0px 6px 31px -23px black;
      border-bottom: 4px solid green;
      padding: 10px 0 15px 0;
      // For Supervisor
      background: #68e08478;
      border-radius: 4px;
      margin: 10px 0 20px 0;
      text-rendering: optimizeLegibility;
      font-variant-ligatures: none;
      box-shadow: 0px 6px 31px -23px black;
      border-bottom: 4px solid green;
      padding: 0px 0 10px 0;
      &__status {
        text-align: center;
        font-weight: bold;
        font-size: 1.5rem;

        // For Supervisor
        font-size: 1.2rem;
        &--active {
          color: green;
        }
      }
      &__item {
        &-title {
          font-size: 0.8rem;
        }
        &-value {
          font-weight: bold;
          font-size: 0.9rem;
        }
      }
    }
    .track-hours {
      background: #68e08478;
      border-radius: 4px;
      margin: 20px 0;
      text-rendering: optimizeLegibility;
      font-variant-ligatures: none;
      box-shadow: 0px 6px 31px -23px black;
      padding: 10px 0 15px 0;
      &__item {
        &-title {
          font-size: 0.8rem;
          font-weight: bold;
        }
        &-value {
          font-size: 1rem;
          span {
            font-weight: bold;
            color: coral;
            font-size: 1.1rem;
            padding: 0 5px;
          }
        }
      }
    }
    .track-buttons {
      flex: 1;
      flex-basis: 40%;
      justify-content: space-around;
      align-items: center;
      padding: 10px 5%;
      button {
        min-width: 8rem;
        font-weight: bold;
      }
    }
    /* End Employee Style */

    /* Start Suprvisor Style */
    .employees-search {
      padding: 0 20px;
    }

    .supervisor-actions {
      &__number {
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          font-weight: bold;
          margin: 0 10px;
          font-size: 1.1rem;
        }
      }
      &__buttons {
        display: flex;
        padding: 10px auto;
        justify-content: space-between;
        align-items: center;
        margin: 10px auto;
      }
    }

    .employees {
      &__list {
        .employee {
          padding: 10px;
          margin: 2px 0;
          box-shadow: 1px 1px 7px -4px black;
          border-radius: 6px;
          background: white;
          &__name {
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
          }
          &__hours {
            display: flex;
            justify-content: center;
            align-items: center;
            span {
              font-weight: bold;
              color: indianred;
            }
          }
          &__actions {
            display: flex;
            justify-content: center;
            align-items: center;
            button {
              width: 20px;
              height: 20px;
              background: none;
              border: none;
              &.stop-track {
                background: red;
              }
            }
          }
          &__status {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            &--active {
              span {
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 5px;
                background:greenyellow;
              }
            }
          }
        }
      }
      &__pagination {
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        button {
          background: none;
          border: none;
          font-weight: bold;
        }
      }
    }
    /* End Employee Style */
  }
}